html {
  font-family: "Secular One", sans-serif;
  font: 1em; }

body {
  background-color: #C0D7EA;
  font-family: "Secular One", sans-serif;
  font: 1em;
  flex-wrap: wrap; }

body {
  background-color: #C0D7EA; }
ul li a i{
  color: #C0D7EA;
}

.navbar-brand{
  color: #C0D7EA;
}

.boton,
.btn-rounded {
    background: #607f9c;
}

.botonera {
    background: #050309;
}

.dropdown-menu{
  background-color: #050309;
}
#botonera {
    background-color: #050309;
}

#botonera ul li a {
    position: relative;
    color: #C0D7EA;
    font-size: 1rem;
    padding: 30px;
}

#botonera li a:hover {
    background: #607f9c;
    color: #87B0D7;
}

.bg-colorNav {
    background-color: #050309;
    width: 100%;
}


.seconNav {
    background-color: #9bb3c7;
    text-align: center;
}

.seconNav a {
    font-size: 1em;
}

.seconNav li {
    padding: 10px;
    height: 150px;
}

nav section iframe {
    width: 52%;
    padding: 0 20px 20px;
}


footer {
  background-color: #050309;
  color: #C0D7EA;
  align-self: flex-end;
  width: 100%;
  text-align: center; }

.footer .socialItem {
  list-style: none; }

.footer .social ul {
  display: flex;
  padding: 10px;
  width: 300px;
  height: 50px;
  margin: auto; }

.socialItem a {
  padding: auto;
  padding-left: 35px;
  font-size: 190%; }