html {
  font-family: "Secular One", sans-serif;
  font: 1em; }

body {
  background-color: #C0D7EA;
  font-family: "Secular One", sans-serif;
  font: 1em;
  flex-wrap: wrap; }

body {
  background-color: #C0D7EA; }

.navbar{
  background-color: rgb(34, 30, 34);
}
ul li a i{
  color: #C0D7EA;
}